@import "@{templateCommon}/basekit-bootstrap.less";


.main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2.5em;
    padding-left: 0;
    @media @tablet {
        padding-top: 2em;
        padding-right: 0;
        padding-bottom: 2em;
        padding-left: 0;
        float: left;
    }
    @media @mobile {
        padding-top: 1.5em;
        padding-right: 0;
        padding-bottom: 1.5em;
        padding-left: 0;
    }
}

.bk-pt-default .main {
    margin-top: 2em;
}

.wrapper {
     width: 90%;
        margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 960px;
        margin: 0 auto;
    }
}



/* ===============================
   CORNER IMAGES
   =============================== */

 .wrapper {
        position: relative;
        .header-img {
            width: 33%;
            float: left;
            @media @tablet {
                display: none;
            }
        }
        .upper_left {
            width: 6%;
            max-height: 45px;
            height: 24%;
            position: absolute;
            z-index: 999;
            top: 0; 
            left: 0;
            background-image: image('/images/upper-left.png');
            background-color: @color-swatch3;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;    
            background-position: top left;
            background-repeat: no-repeat;
            box-shadow:inset -1px -1px 0 0 @color-swatch1;
            @media only screen and (max-width: 1030px) {
                width: 7%;
                height: 24%;
            }
            @media @tablet {
                width: 9%;
                height: 31%;
            }
            @media only screen and (max-width: 550px) {
                width: 13%;
                height: 32%;
            }
            @media @mobile {
                display: none;
            }
        }
        .upper_right {
            width: 6%;
            height: 24%;
            max-height: 45px;
            position: absolute;
            z-index: 999;
            top: 0;
            right: 0;
            background-image: image('/images/upper-right.png');
            background-color: @color-swatch3;
            background-position: top right;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;  
            box-shadow:inset 1px -1px 0 0 @color-swatch1;
            background-repeat: no-repeat;
            @media only screen and (max-width: 1030px) {
                width: 7%;
                height: 24%;
            }
            @media @tablet {
                width: 9%;
                height: 31%;
            }
            @media only screen and (max-width: 550px) {
                width: 13%;
                height: 32%;
            }
            @media @mobile {
                display: none;
            }
        }
        .lower_left {
            width: 6%;
            height: 24%;
            max-height: 45px;
            position: absolute;
            bottom: 0; 
            left: 0;
            background-image: image('/images/lower-left.png');
            background-color: @color-swatch3;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;  
            background-position: bottom left;
            background-repeat: no-repeat;
            box-shadow:inset -1px 1px 0 0 @color-swatch1;
            @media only screen and (max-width: 1030px) {
                width: 7%;
                height: 24%;
            }
            @media @tablet {
                width: 9%;
                height: 31%;
            }
            @media only screen and (max-width: 550px) {
                width: 13%;
                height: 32%;
            }
            @media @mobile {
                display: none;
            }
        }
        .lower_right {
            width: 6%;
            height: 24%;
            max-height: 45px;
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: image('/images/lower-right.png');
            background-color: @color-swatch3;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;  
            background-position: bottom right;
            background-repeat: no-repeat;
            box-shadow:inset 1px 1px 0 0 @color-swatch1;
            @media only screen and (max-width: 1030px) {
                width: 7%;
                height: 24%;
            }
            @media @tablet {
                width: 9%;
                height: 31%;
            }
            @media only screen and (max-width: 550px) {
                width: 13%;
                height: 32%;
            }
            @media @mobile {
                display: none;
            }
        }
}

.header-text.wrapper {
    .upper_right, .upper_left, .lower_left, .lower_right {
        height: 27%;
    }
}


/* ===============================
   HEADER
   =============================== */
.bk-header .wrapper .companyheader {
    margin: 0 !important;
}

.bk-header {
    background-color: transparent;
    padding: 2.5em 0 1.5em;
    text-align: center;
    @media @tablet {
        float: left;
        width: 100%;
    }
    .wrapper {
        position: relative;
        .header-img {
            box-shadow:inset 0 0 0 1px @color-swatch1;
            width: 28.2%;
            @media only screen and (max-width: 1046px) {
                width:26%;
                max-height: 100px;
            }
            float: left;
            max-height: 145px;
            overflow: hidden;
            margin: 25px;
            background-color: @color-swatch3;
            @media @tablet {
                display: none;
            }
            .widget.image{
                img {
                    width: 100%;
                }
            }
        }
        .companyheader {
            width: 33%;
            float: left;
            @media @tablet {
                width: 100%;
                margin: 0;
            }
            .logo, .companyname {
                text-align: center;
                float: none;
            }
            @media @tablet {
                margin: 30px 0 25px;
            }
            .companyname a {
                display: block;
                padding: 0;
                font-family: @font-swatch10-font-family;
                font-weight: @font-swatch10-font-weight;
                color: @font-swatch10-color;
                line-height: @font-swatch10-line-height;
                letter-spacing: @font-swatch10-letter-spacing;
                font-size: @font-swatch10-font-size;
                    &:hover {
                        text-decoration: none;
                    }
                    @media @mobile {
                        font-size: bkscale(@font-swatch10-font-size,0.8);
                        line-height: bkscale(@font-swatch10-line-height,0.8);
                    }
            } 
        }/* end companyheader */

    /* HEADER WIDGET CONTENT - STRAPLINE */

        .widget {
            &.content {
                text-align: center;
                margin: 0 auto;
                .bk-content-text {
                    p {
                        color: @color-swatch4;
                    }
                }
                @media @tablet {
                    width: 85%;
                }
                @media @mobile {
                    width: 100%;
                }
            }
        }

    } /* end Wrapper */

}   /* end HEADER */

/* ====================================
   HEADER WIDGET CONTENT - .header-text
   ==================================== */

   .header-text {
        @media @tablet {
            float: left;
            width: 90%;
        }
        @media @mobile {
            border-top: 1px dotted @color-swatch3;
            padding-top: 30px;
        }
        .widget {
            &.content {
                .bk-content-text {
                    padding: 40px;
                    @media @mobile {
                        padding: 0;
                    }
                    p {
                        padding-bottom: 0;
                        color: @color-swatch4;
                    }
                }
            }
        }
   }


/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget {
    .extendednavigation {
        float: none;
        position: relative;
        max-width: 100%;
        min-height: 40px;
        background-color: fade(@color-swatch4, 10%);
        z-index: 99999;
        li {
            ul {
                display: none !important;
            }
        }
        ul {
            display: table;
            float: none;
            margin: 0 auto;
            text-align: center;
            padding: 0;
            @media @tablet {
                /* Hidden until nav icon is clicked */
                display: none;
                /* Then these styles are applied */
                width: 100%;
                border-top: 1px solid @color-swatch7;
                margin: 0;
                padding: 40px 0 0;
            }
            li {
                float: left;
                display: block;
                padding: 5px 0;
                @media @tablet {
                    width: 100%;
                    padding: 1em 0;
                    border-bottom: 1px dotted fade(@color-swatch3, 25%);
                    background-color: @color-swatch1;
                }
                &:last-child {
                    @media @tablet {
                        border-bottom: 1px solid fade(@color-swatch3, 25%);
                    }
                }

                &:hover {
                    ul {
                        display: block !important;
                        position: absolute;
                        background-color: @color-swatch1;
                        background-image:image('/images/ricepaper2.png');
                        border: 1px solid fade(@color-swatch3, 25%);
                        z-index: 500;
                        padding: 0;
                        margin: 7px 0 0 0;
                        li {
                            display: block;
                            width: 100%;
                                .box-sizing {
                                    a {
                                        display: block;
                                        color: @color-swatch5;
                                        padding: 0;
                                    }
                                }
                        }
                    }
                }

                a {
                    display: block;
                    padding: 0 15px;
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch6-color;
                    line-height: @font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @font-swatch6-color-hover;
                        text-decoration: underline;
                    }
                }

                &.folder {
                    /* Folder dropdown arrow BG style goes Here */  
                    margin-right: 20px;            
                    cursor: pointer;
                    background-image: none;
                    z-index: 9999999;
                    .text {
                        display: block;
                        padding: 0 15px;
                        font-family: @font-swatch6-font-family;
                        font-size: @font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @font-swatch6-color;
                        line-height: @font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        position: relative;
                        &:after {
                            content: "\25BC";
                            font-size: 5px;
                            position: absolute;
                            top: 1px;
                            display: block;
                            z-index: 9999999;
                            right: 0;
                            color: @color-swatch3;
                            @media @tablet {
                                font-size: 10px;
                                color: @color-swatch3;
                                padding-right: 10px;
                            }
                        }
                        &:hover {
                            color: @font-swatch6-color-hover;
                            text-decoration: underline;
                        }
                    }
                    ul {
                        padding: 0;
                        @media @tablet {
                            margin-top: 14px;
                        }
                        li {
                            a {
                                .text {
                                    padding: 0;
                                    &:after {
                                        content: "";
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        a {
            &.pull {
                display: none;
                @media @tablet {
                    display: block;
                    margin: 0;
                    width: 20px;
                    height: 44px;
                    position: absolute;
                    top: -3px;
                    left: 48.5%;
                    &:hover {
                       cursor: pointer;
                    }
                    &:after {
                       content: '';
                       position: absolute;
                       width: 100%;
                       height: 3px;
                       background: @color-swatch3;
                       top: 15px;
                       left: 0;
                       box-shadow: 0 6px 0 @color-swatch3, 0 12px 0 @color-swatch3;
                       -webkit-box-shadow: 0 6px 0 @color-swatch3, 0 12px 0 @color-swatch3;
                    }
                }
            }
        }
       
    }
}

.widget .extendednavigation ul li.folder:after {
    display: none;
}

/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */

.widget {
    &.menusections {
        text-align: center;
        min-height: 30px;
        width: 100%;
        margin: 3em 0 0;
        border: 1px dotted @color-swatch3;
        ul {
            display: table;
            width: 100%;
            max-width: 100%;
            list-style: none;
            margin: 0px;
            padding: 10px 10px 0;
            @media @tablet {
                border-bottom: 1px dotted @color-swatch6;
                padding: 0;
            }

            /* ALIGN CENTER */
            &.align-center {
                li {
                    text-align: center;
                    &:hover {
                        li {
                            text-align: center;
                        }
                    }
                }
            }
            /* ALIGN LEFT */
            &.align-left {
                li {
                    text-align: left;
                    &:hover {
                        li {
                            text-align: left;
                        }
                    }
                }
            }
            /* ALIGN RIGHT */
            &.align-right {
                li {
                    text-align: right;
                    &:hover {
                        li {
                            text-align: right;
                        }
                    }
                }
            }
            li {
                padding: 0 12px;
                display: inline-block;
                padding: 0 15px 10px 0;
                margin-right: 0px;
                @media @tablet {
                    width: 100%;
                    padding: 1em 0;
                    margin: 0;
                    border-bottom: 1px dotted @color-swatch3;
                }
                &:last-child {
                    padding-right: 0;
                    @media @tablet {
                        border-bottom: 0;
                    }
                }

                a {
                    display: block;
                    font-family:@font-swatch6-font-family;
                    font-size:@font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch6-color;
                    line-height:@font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    position: relative;
                    &:hover {
                        color: @font-swatch6-color-hover;
                        text-decoration: none;
                    }
                    &:before {
                        content: "\25CF";
                        font-size: 0.9em;
                        left: -18px;
                        position: absolute;
                        color: @color-swatch4;
                        @media @tablet {
                            display: none;
                        }
                    }
                }
                &:first-child a:before {
                                content: "";
                }
            }
        }
    }
}


/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        .main {
            padding: 0;
            margin-bottom: 40px;
            border-top: 0;
            display: none;
            position: relative;
            &.selected {
                display: block;
                margin: 4.5em auto 0;
                float: left;
                width: 100%;
                border-left: 2px solid @color-swatch3;
                border-right: 2px solid @color-swatch3;
                border-bottom: 2px solid @color-swatch3;
                @media @tablet {
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
                }
                &:before {
                    content: "";
                    display: block;
                    width: 6%;
                    height: 27%;
                    max-height: 45px;
                    min-height: 45px;
                    position: absolute;
                    top: -2em; 
                    left: -2px;
                    background-image: image('/images/upper-left.png');
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;    
                    box-shadow:inset -1px 0 0 0 @color-swatch1;
                    background-position: top left;
                    background-repeat: no-repeat;
                    background-color: @color-swatch3;
                    @media only screen and (max-width: 1030px) {
                        width: 7%;
                        height: 24%;
                    }
                    @media @tablet {
                        display: none;
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    width: 6%;
                    height: 27%;
                    max-height: 45px;
                    min-height: 45px;
                    position: absolute;
                    top: -2em; 
                    right: -2px;
                    background-image: image('/images/upper-right.png');
                    background-size: cover;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;  
                    box-shadow:inset 1px 0 0 0 @color-swatch1;
                    background-position: top right;
                    background-repeat: no-repeat;
                    background-color: @color-swatch3;
                    @media only screen and (max-width: 1030px) {
                        width: 7%;
                        height: 24%;
                    }
                    @media @tablet {
                        display: none;
                    }
                }
            }
            @media only screen and (max-width: 850px) {
                width: 100%;
                margin: 0;
                padding: 10px 0;
            }

            ul, li { /* removes list-style on sections and items */
                list-style: none;
                padding: 0;
                margin: 0;
                border: none;
            } 


            /* SECTION AND SUB-SECTION HEADERS */
                .menu-subsection-header {
                    @media only screen and (max-width: 550px) {
                        text-align: left;
                    }
                }
                .menu-header, .menu-subsection-header {
                    margin: 0;
                    padding: 0em 0 3.5em;
                    @media @tablet {
                        padding: 0em 0 1.5em;
                    }
                    text-align: center;
                    position: relative;

                    h1 { /* menu-name */
                        &:after {
                            content: "";
                            background-image: image('/images/flowers-right.png');
                            background-color: @color-swatch3;
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 41px;
                            width: 97px;
                            margin: 0 20px;
                            position: relative;
                            top: 9px;
                            @media only screen and (max-width: 550px) {
                                display: none;
                            }
                        }
                        &:before {
                            content: "";
                            background-image: image('/images/flowers-left.png');
                            background-color: @color-swatch3;
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 41px;
                            width: 97px;
                            margin: 0 20px;
                            position: relative;
                            top: 9px;
                            @media only screen and (max-width: 550px) {
                                display: none;
                            }
                        }
                    }
                    h2 { /* MENU-SUBSECTION-HEADER */
                        padding-top: 3px;
                    }
                    p { /* description */
                        color: @color-swatch4;
                        padding-bottom: 2em;
                        width: 80%;
                        margin: 0 auto;
                        @media only screen and (max-width: 550px) {
                            padding-bottom: 0;
                            width: 100%;
                        }
                    }
                } /* end MENU-HEADER AND SUB-SECTION HEADER */


            /* ITEMS */

                .menu-items {
                    margin: 0 auto;
                    position: relative;
                    padding: 0 5%;
                    @media only screen and (max-width: 907px) {
                        padding: 0 2.25%;
                    }
                    @media @tablet {
                        padding: 0;
                        width:100%;
                    }
                    -webkit-column-count: 2;
                    -webkit-column-gap: 4em;
                    -moz-column-count: 2;
                    -moz-column-gap: 4em;   
                    column-count: 2;
                    column-gap: 4em;
                    > * {
                        break-inside: avoid;
                        -webkit-column-break-inside: avoid;
                        -moz-column-break-inside: avoid;
                        -ms-column-break-inside: avoid;
                        -o-column-break-inside: avoid;
                    }
                    @media only screen and (max-width: 550px) {
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;
                    }
                    &.odd.bk1-columns {
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;
                    }
                    
                    li { /* menu-item */
                        position: relative;
                        display: block;
                        text-align: left;
                        padding-bottom: 2em;
                        margin-bottom: 2.5em;
                        border-bottom: 1px dotted @color-swatch3;
                        width: 100%;
                        @media @mobile { 
                            margin-bottom: 1.5em;
                            padding-bottom: 1.5em;
                        }
                        &.menu-item-promoted { /* menu-item-promoted */
                                .inner-item {
                                    h3 {
                                        width: auto;
                                        padding: 0 0 0 35px;
                                        color: @color-swatch7;
                                    }
                                    .menu-item-price p { 
                                        color: @color-swatch7;
                                    }
                                    &:after {
                                        content: "\2605";
                                        font-size: 1.8em;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        color: @color-swatch7;
                                    }
                                }
                        }/* end menu-item-promoted */

                        .inner-item {
                            display: inline-block;
                            width: 100%;
                            h3 { /* menu-item-name */  
                                padding: 0 5px 0 0;
                            }
                            .menu-item-image-wrap {
                                background-size:cover;
                                background-repeat: no-repeat;
                                height: 200px;
                                background-position: center;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                img {
                                    display: none;
                                }
                            }
                            li {
                                border-bottom: 0;
                            }
                            ul, ol, li { /* removes list-style */
                                list-style: none;
                                padding: 0;
                                margin: 0;
                            } 
                            .menu-item-price p {   /* standard-price */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch3-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch3-line-height;
                                color:@font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                padding: 0px;
                                margin: 0;
                                display: inline-block;
                            }
                            p { /* item-description */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color:@font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                float: left;
                                width: 100%;
                                margin: 0 0 0.5em 0;
                                padding: 0;
                            }

                            h4  { /* nutritional-title for section and subsection */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color: @font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                float: left;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .menu-item-nutritional-prop { 
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color: @font-swatch5-color;
                                float: left;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .menu-section-item-dietary-props {
                                float: left;
                                width: 100%;
                                margin-top: 0;
                                padding: 0;
                               .dietary-icon {
                                    background-color: @color-swatch1;
                                    width: auto;
                                    height: 25px;
                                    border: 1px solid @color-swatch3;
                                    border-radius: 0;
                                    font-family:@font-swatch5-font-family;
                                    font-size:@font-swatch5-font-size;
                                    display: block;
                                    z-index: 9999999;
                                    color: @color-swatch3;
                                    float: left;
                                    margin-right: 5px;
                                    margin-bottom: 5px;
                                    padding: 0 7px;
                                }
                                .not-spicy-icon {
                                    display: none;
                                }
                            } /* end menu-section-item-dietary-props */   


                            .menu-item-description, .menu-section-item-description {
                                margin-bottom: 0.5em;
                            }

                        } /* end inner-item */

                    } /* end li menu-item */

                } /* end menu-items */  


                .menu-subsection {
                    border: none;
                    padding: 0;
                    margin: 0;
                    .menu-items.odd.bk1-columns {
                        border-top: none;
                        border-bottom: none;
                        @media @tablet {
                               border: none;
                            }
                        &:before {
                            display: block;
                            @media @tablet {
                                display: none;
                            }
                        }
                        &:after {
                            display: block;
                            @media @tablet {
                                display: none;
                            }
                        }
                    }
                    .menu-subsection-promoted { /* PROMOTED SUB-SECTION */ 
                        padding: 0;
                        margin-bottom: 0em;
                        position: relative;
                        border: none;
                        border-radius: 0;
                        .menu-subsection-header {
                            margin: 0;
                            padding: 0em 0 1.5em;
                            position: relative;
                            h2 { /* menu-section-name */
                                color: @color-swatch7;
                                padding-top: 0;
                                &:before, &:after {
                                        content: "\2605";
                                        display: inline-block;
                                        height: 27px;
                                        width: 28px;
                                        margin: 0 10px;
                                        position: relative;
                                        top: -1px;
                                        @media @tablet {
                                            display: none;
                                        }
                                }
                            }
                            p {
                                color: @color-swatch7;
                            }
                        }
                    }/* end PROMOTED SUB-SECTION */
                } /* end SUB-SECTION */

                .menu-info {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin: 0 auto;
                    p { /* menu-note */  
                        width: 90%;
                        padding: 0;
                        margin: 1em auto 3em;
                        padding: 0;
                        color: @color-swatch3;
                        @media @tablet {
                            width: 100%;
                            margin: 1em auto;
                        }
                    }
            } /* end menu-info */
        } /* end main */
    } /* end .widget.menu */
} /* end .widget */

/* ===============================
  CONTACT FORM
   =============================== */

   .contactform fieldset {
        border: none;
        margin: 0 0 10px;
        padding: 0;
    }

    .widget.contactform fieldset input, .widget.contactform fieldset textarea {
        border: 1px solid darken(@color-swatch1,10%);
    }


  /* ===============================
  SIGN UP FORM & PROFILE FORM
   =============================== */

   .widget.signupform fieldset input, .widget.profile form fieldset input {
        border: 1px solid darken(@color-swatch1,10%);
        background-color: #ffffff;
    }
    .signupform fieldset button, .widget.profile form button {
        padding: 6px 10px 10px;
    }

/* ===============================
  TWITTER
   =============================== */

   .twitter-profile-pic {
        float: left;
        margin-right: 10px;
    }


/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
        color: @color-swatch5;
    }
    .description {
        color: @color-swatch5;
    }
    .content-wrapper {
        background: @color-swatch1;
        background-image:image('/images/ricepaper2.png');
        text-align: center;

    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            left: 45%;
            top: 43%;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
            @media @mobile {
                width: 40px;
                height: 40px;
                &:after {
                    font-size: 15px;
                    line-height: 36px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch5;
            }
        }
    }
}


/* ===============================
  BLOG
   =============================== */

.blog-post-metadata {
    background-color: transparent;
    margin-top: 0;
    text-align: left;
}

.widget {
    &.bloglistposts {
        .blog-post-item {
            border-bottom: 1px dotted @color-swatch5;
        }

    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-list-footer {
    background-color: transparent;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        input {
            border: 1px solid darken(@color-swatch1,10%);
            }

        button {
            padding: 10px;
            font-family: @font-swatch7-font-family;
            color: @font-swatch7-color;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
}

/* ===============================
  SOCIAL ICONS 
   =============================== */

.bk-footer .widget.socialicons .icons span a, .widget.socialicons span a {
    background-color: @color-swatch3;
    border: none;
        -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    &:hover {
        background-color: darken(@color-swatch3,10%);
    }
}

.bk-footer .widget.socialicons .icons {
    text-align: center;
}

/* ===============================
  IMAGE WIDGET
   =============================== */

.widget.image {
    .image-title, .image-description {
    color: @font-swatch5-color;
    }
}

/* ===============================
   BLOCK QUOTE
  =============================== */

  blockquote {
    background-color: transparent;
    margin: 20px;
    &:before {
        color: @color-swatch3;
    }
  }

/* ===============================
  DIVIDER WIDGET
   =============================== */

hr {
    &.line {
        background-color: lighten(@color-swatch5,50%);
        height: 1px;
    }
}


/* ===============================
  FOOTER 
   =============================== */

.bk-footer {
    padding-top: 2em;
    text-align: center;
    background-color: hsla(hue(@color-swatch3), saturation(@color-swatch3), lightness(@color-swatch3), 0.1);
    float: left;
    width: 100%;
}


